<p><%= @user.name %>さん。</p>

<p><%= @request.date %>の<%= @request.starttime %>:00～<%= @request.endtime %>:00の募集にリクエストがありました。</p>

<p>urlにアクセスして確認してください。</p>

<p>[リクエスト情報]</p>
  <p>名前：<%= @accept.user.name %>さん</p>
  <br />
  <p>メッセージ：<%= @accept.message %></p>
