<% provide(:title, "パスワード忘れはこちら") %>
<main>
  <div class="l-user-area">
    <div class="user-container">
      <div class="l-user-field">
        <h2>パスワード忘れはこちら</h2>
      </div>
      <br />
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
        <div class="l-user-field">
          <%= f.label :email %>
          <br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <br />
        <div class="l-user-field">
          <%= f.submit "パスワード再発行" %>
        </div>
        <br />
      <% end %>
      <div class="l-user-field">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</main>
