<% provide(:title, "募集 新規作成") %>
<main>
  <div class="l-register-area">
    <div class="regsiter-container">
      <div class="l-register-box">
        <h2>登録する</h2>
        <br />
        <%= form_for @request , :url => {:action => 'create'} do |f| %>
        <% if @request.errors.any? %>
          <ul>
            <% @request.errors.full_messages.each do |msg| %>
              <li class="alert alert-danger"><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="l-register-state">
            <div id='mode' class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <%= f.radio_button :role, 0, checked: "checked" %>
                    グチを聞く
                </label>
                <label class="btn btn-primary">
                    <%= f.radio_button :role, 1 %>
                    グチを吐く
                </label>
        </div>
        </div>
        <div class="l-register-state">
            <%= f.label :date, "日にちを選択してください" %>
            </%>
            <%= f.text_field :date, :id => "book_published_at" %>
        </div>
        <div class="l-register-state">
          <%= f.label :starttime, "時間を指定してください" %>
            <div class="l-register-detail">
                <%= f.select :starttime, [*1..24] %>
                <span>時</span>
                <span>～</span>
                <%= f.select :endtime, [*1..24] %>
            </div>
        </div>
        <div class="l-register-state">
            <%= f.label :state, "場所の名前を制定してください" %>
            <%= f.text_field  :state %>
        </div>
        <div class="l-register-state">
            <%= f.label :address, "住所を指定してください" %>
            <%= f.text_area :address , :size => "40x1"%>
        </div>
        <div class="l-register-state">
            <%= f.label :message, "一言メッセージ" %>
            <%= f.text_area :message , :size => "250x4"%>
        </div>
        <div class="l-register-state">
            <%= f.submit "提出"%>
        </div>
      </div>
    </div>
  </div>
</main>
<% end %>

